{% extends 'layout.html' %}
<!-- load static -->
{% load static %}
<!-- content -->
{% block content %}
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url({% static 'assets/img/slide/slide-1.jpg' %});">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2 style="text-align: center">Welcome to <span>Stroke Predictor</span></h2>
              <p>Live a healthy life. Know you chances of having stroke and adjust your health habbits</p>
              <div class="text-center"><a href="{% url 'register' %} " class="btn-get-started">Predict</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/slide-2.jpg' %});">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
                <h2 style="text-align: center">Welcome to <span>Stroke Predictor</span></h2>
              <p>Live a healthy life. Know you chances of having stroke and adjust your health habbits</p>
              <div class="text-center"><a href="{% url 'register' %}" class="btn-get-started">Predict</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/slide-3.jpg' %});">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2 style="text-align: center">Welcome to <span>Stroke Predictor</span></h2>
              <p>Live a healthy life. Know you chances of having stroke and adjust your health habbits</p>
              <div class="text-center"><a href="{% url 'register' %}" class="btn-get-started">Predict</a></div>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->

  <main id="main">





  </main><!-- End #main -->
{% endblock content %}