{% extends "dslayout.html" %}
{% load static %}
{%load mytags %}
{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Users</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'users' %}">Home</a></li>
          <li class="breadcrumb-item active">Users</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">



            <!-- Reports -->
            <div class="col-12">
              <div class="card">

                <div class="card-body">
                  <h5 class="card-title">Reports</h5>

              <!-- Table with stripped rows -->
              <table class="table table-striped datatable" width="100%">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Client Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Predicted Result</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                 {%for report in reports %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{report.phone.name}}</td>
                <td>{{report.phone.phone}}</td>
                <td>{{report.stroke}}</td>
                <td> <a href="{%url 'detailreport' report.did %}" class="btn btn-danger">View Detail Report</a></td>
              </tr>
              {% endfor %}
                  
                </tbody>
              </table>
                </div>

              </div>
            </div><!-- End Reports -->

            

          </div>
        </div><!-- End Left side columns -->

      </div>
    </section>
  </main>
  {%endblock%}